section.about {
	justify-content: center;
	align-items: center;
	background-color: #2d343a;
	font-family: 'Source Code Pro', monospace;
	line-height: 1.75;
	height: 50vh;
	padding-top: 5px;
}
  section.about > article {
	font-family: 'Source Code Pro', monospace;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
	margin-bottom: 0;
  }
  @media (min-width: 48rem) {
	section.about > article {
		width: 100%;;
	}
  }
  section.about > article > div {
	font-family: 'Source Code Pro', monospace;
	font-size: 21px;	
	color: tomato;
	margin: 0 25px 0 25px;
  }
  section.about > article p {
	font-family: 'Source Code Pro', monospace;
	font-size: 21px;	
	margin: 1rem 0 1rem 2rem;
	color: #f5f5f5;
  }
  