footer {
    width: 100%;
    height: 19vh;
    background-color: turquoise;
    border: 5px;
    border-top-color: #2d343a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    p {
       text-align: center;
    }
    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 44px;
        color: black;
        a {
            color: black;
            margin-left: 20px;
            transition: color;
         :hover {
            color: #f50e2d;
            animation: shake 1s;

        }
        }
    }   
}
