.masthead, #welcome-section{
    background-color: #203542;
    height: 90vh;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
}

.masthead-contents{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-self: center;
    height: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    border: 5px;
    border-bottom-color: #2d343a!important;
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.masthead h1{
    letter-spacing: 9px;
    color: wheat;
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 15px;
}
span.innerText{
    font-size: 40px;
    line-height: 40px;
}
.masthead h1 {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}

.masthead-arrow-container{
    color: rgb(0, 0, 0);
    bottom: 60px;
    left: calc(50% - 30px);
    cursor: pointer;
    height: 40px;
    width: 60px;
    position: absolute;
}

.masthead-arrow{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    bottom: 5px;
    height: 30px;
    position: absolute;
    width: 30px;
    font-size: 60px;
}

.scrollInfo {
    background: turquoise;
    border-radius: 10px;
    text-align: center;
    width: 213px;
    height: 46px;
    background: turquoise;
    border-radius: 20px;
    margin: 0 auto;
    line-height: 41px;
    font-size: 30px;
    position: relative;
    bottom: -50px;

}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

